.notelist--item--selected {
  background-color: rgba(52, 152, 219, 0.2);
  border-left-color: $BG_Blue !important;

  &:hover {
    background-color: rgba(52, 152, 219, 0.2) !important;
  }
}

// Marcação de favorito
.favorite--active {
  & .notelist__item__favorite {
    opacity: 1 !important;
    background-color: $BG_Yellow !important;

    & .svg-favorite-icon {
      & path {
        fill: $BG_White !important;
      }
    }
  }
}

/********************************
* Cores diferente para cada Tag *
*********************************/
.tag--color--Lembrete {
  color: $flatLightPurple !important;

  & div {
    background-color: $flatLightPurple !important;
  }
}

.tag--color--Importante {
  color: $flatLightRed !important;

  & div {
    background-color: $flatLightRed !important;
  }
}

.tag--color--Trabalho {
  color: $flatCarrot !important;

  & div {
    background-color: $flatCarrot !important;
  }
}

.tag--color--Outros {
  color: $flatLightGreen !important;

  & div {
    background-color: $flatLightGreen !important;
  }
}
