.noteeditor__component__container {
  min-height: 100%;
  max-width: calc(100% - 301px);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// Visualizador de status da anotação
.noteeditor__status__container {
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 12.5px;

  /*********************
  * Status da anotação *
  **********************/
  & .noteeditor__current__status__container {
    display: flex;
    align-items: center;
    font-weight: bold;

    & span {
      display: flex;
      align-items: center;
      font-size: 0.8em;
      font-weight: 500;
    }

    & .svg-status-icon {
      width: 20px;
      height: 20px;
      margin: 0px 5px;
    }

    // Status: Salvo
    & .noteeditor__current__status__save {
      color: $BG_Green;
      & .svg-status-icon {
        & path {
          fill: $BG_Green;
        }
      }
    }

    // Status: Salvando...
    & .noteeditor__current__status__saving {
      color: $BG_Blue;
      & .svg-status-icon {
        animation: rotate 1s linear infinite;
        @keyframes rotate {
          0% {
            transform: rotate(360deg);
          }
        }
        & path {
          fill: $BG_Blue;
        }
      }
    }

    // Status: Alterações não salvas
    & .noteeditor__current__status__edit {
      color: $BG_Orange;
      & .svg-status-icon {
        & path {
          fill: $BG_Orange;
        }
      }
    }

    // Status: Erro
    & .noteeditor__current__status__error {
      color: $BG_Red;
      & .svg-status-icon {
        & path {
          fill: $BG_Red;
        }
      }
    }
  }

  & .noteeditor__last__update {
    & .noteeditor__last__update__title {
      font-size: 0.8em;
      font-style: italic;
    }

    & .noteeditor__last__update__content {
      font-size: 0.9em;
      font-weight: bold;
    }
  }
}

/**********************
* Editor de anotações *
***********************/
.noteeditor__container {
  background-color: $BG_White;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  border: $Border_Default;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  & .noteeditor__input__container {
    border-bottom: $Border_Default;
    min-height: 50px;
    max-height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: auto;

    & .noteeditor__input__title {
      font-weight: bold;
    }

    & .noteeditor__input__text {
      border: $Border_Default;
      border-radius: 4px;
      padding: 5px;
      margin-left: 10px;
      width: 100%;
    }

    & .noteeditor__input__tags {
      margin-left: 5px;
      display: flex;
      width: 100%;

      & button {
        color: $LT_Dark;
        font-size: 0.9em;
        height: 30px;
        width: 85px;
        border: $Border_Default;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        & ~ button {
          margin-left: 15px;
        }

        &:hover {
          background-color: $BG_lightBlue;
        }
      }
    }
  }

  & .noteeditor__app__container {
    height: calc(100vh - 277px);

    & .noteeditor__app {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
