/******************
 * Cores de fundo *
 ******************/
$BG_White: #ffffff;
$BG_DarkWhite: #f8f8f8;
$BG_lightGrey: #f1f1f1;
$BG_Grey: #9c9c9c;
$BG_Blue: #3498db;
$BG_lightBlue: rgba(52, 152, 219, 0.5);
$BG_Green: #2ecc71;

/*******************
  * Cores de textos *
  *******************/
$LT_Withe: #ffffff;
$LT_Dark: #454545;
$LT_LightDark: #747474;
$LT_Light: #9c9c9c;
$LT_Blue: #3498db;
$LT_DarkBlue: #2980b9;
$LT_Green: #2ecc71;
$LT_DarkGreen: #27ae60;
$LT_Red: #f44237;

/*****************
 * Cores de borda *
 *****************/
$BD_lightBlack: rgba(0, 0, 0, 0.15);
$BD_Light: #9c9c9c;

/*****************
  * Cores Flat UI *
  *****************/
$flatBlue: #2980b9;
$flatLightBlue: #3498db;
$flatGreenSea: #16a085;
$flatLightGreenSea: #1abc9c;
$flatGreen: #27ae60;
$flatLightGreen: #2ecc71;
$flatPruple: #3f254b;
$flatLightPurple: #9b59b6;
$flatRed: #c0392b;
$flatLightRed: #e74c3c;
$flatPumpkin: #d35400;
$flatCarrot: #e67e22;
$flatOrange: #f39c12;
$flatYellow: #f1c40f;
$flatMidnightBlue: #2c3e50;
$flatLightMidnightBlue: #34495e;
$flatSmoke: #7f8c8d;
$flatLightSmoke: #95a5a6;
$flatGrey: #bdc3c7;
$flatLightGrey: #ecf0f1;
